.login-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.login-left {
  flex: 1;
  background-color: #3a36db;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.highlight {
  color: #ffd700;
}

.info-box {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  padding: 20px;
  border-radius: 12px;
}

.info-box h3 {
  margin-bottom: 10px;
}


.login-right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.login-right h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-form button {
  padding: 15px;
  background-color: #3a36db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #2a28a0;
}


.error-box {
  background-color: #ffe0e0;
  color: #d8000c;
  border: 1px solid #d8000c;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: 500;
}
