.register-page {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;

  animation: fadeInUp 0.6s ease-in-out;
}

/* Left section */
.left-section {
  flex: 1;
  max-width: 350px;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 20px;
  
  height: fit-content;
  max-height: 600px;
  overflow-y: auto;
}

.left-section h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

.student-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 12px;
  transition: transform 0.2s ease;
  cursor: pointer;
}



.student-item span {
  display: block;
  font-weight: 500;
  color: #444;
}

.student-item .id {
  font-size: 0.9rem;
  color: #666;
}

/* Right section */
.right-section {
  flex: 1;
  max-width: 500px;
  padding: 20px 40px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.right-section h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  padding: 14px;
  font-size: 1rem;
  border: 1.5px solid #cfd8dc;
  border-radius: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.register-form input:focus {
  border-color: #26c6da;
  box-shadow: 0 0 0 4px rgba(38, 198, 218, 0.2);
  outline: none;
}

.register-form button {
  padding: 14px;
  font-size: 1rem;
  background-color: #26c6da;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #00acc1;
}


.delete-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  margin-left:80%;
}

.delete-btn:hover {
  background-color: #e60000;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
